
.header {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
    color: #7c82fd57;
}

/*
<FaGithub
    className='contactIcon'
    color='#515357'
    size={42}
    onMouseOver={({ target }) =>
        (target.style.color = '#e91f63')
    }
    onMouseOut={({ target }) =>
       (target.style.color = '#515357')
    }
/>
*/