
.header {

	justify-content: space-around;
    color: #7c82fd57;
color:#7C83FD;
color: #7c82fd46;
  color: #0e0e18c2;
  color: #0F0F1A;
  color: #fc51ff59;
  color: #3f06857a;
  color: #c08cff56;
  color: #005a7e8c;
}

/*
<FaGithub
    className='contactIcon'
    color='#515357'
    size={42}
    onMouseOver={({ target }) =>
        (target.style.color = '#e91f63')
    }
    onMouseOut={({ target }) =>
       (target.style.color = '#515357')
    }
/>
*/